.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #56545E, #B3AEC4);
    width: 100%;
    height: auto;
}

.footer-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: relative;
    flex-wrap: wrap;
}

.footer-sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 5vw;
    font-size: 1.3rem;
}

.footer-sections a{
    text-decoration:none;
    color: #000000;
    font-weight:bold;
    transition: all 0.3s ease;
}

.footer-sections a:hover{
    text-decoration: underline;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    gap:2vw;
}

.actions img{
    height: 4rem;
}

.logo-LyLR-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    right: 5vw;
}

.logoLyLR-footer{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 20%;
    width: 100%;
    margin-bottom: 20px;
}

hr{
    border: 1px solid black;
    width: 90%;
    margin-bottom: 5px;
}

h6{
    display: flex;
    font-size: 100%;
    color: black;
}

.h6-underlined{
    text-decoration: underline;
}

.sign a {
    text-decoration: underline;
    color: black;
}

a:active{
    color: white;

}

@media (max-width: 1000px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .footer-sections,
    .actions,
    .logo-LyLR-footer {
        position: static;
        transform: none;
        left: auto;
        right: auto;
        font-size: 1.2rem;
    }

    .footer-sections {
        margin-top: 10px;
        align-items: center;
    }

    .actions {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .actions img{
    height: 3rem;
    }

    .logo-LyLR-footer {
        width: 30%;
    }
}
