.presentation-container{
    display: flex;
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;}

.polygon-background{
    display: flex;
    width: 100%;
    background: linear-gradient(to bottom, #434677, #7D82DD);
    clip-path: polygon(0% 0%, 25% 0%, 75% 100%, 0 100%) ;
    flex-wrap: wrap;
}

.title-slogan{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding: 4rem;
    gap: 1rem;
}

.title-slogan h1{
    width: 50%;
    font-size: 3.5rem;
}

.title-slogan h2 {
    width: 50%;
    font-size: 2.5rem;
}

.title-slogan p {
    width: 50%;
    font-size: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: end;
}
